@import "./../../../../../index.scss";

.container {
  display: flex;
  align-items: center;

  position: relative;
  border: 1px solid $drk-5;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;

  &:hover {
    div {
      top: -2.5rem;
      opacity: 1;
    }
  }

  button {
    background: none;

    &.added i {
      color: $positive;
    }
    
    i {
      color: $lght-5;
    }
  }

  i {
    font-size: 1.2rem;
    cursor: pointer;
    color: $drk-1;
    opacity: 1;

    &:hover {
      opacity: 0.85;
    }
  }

  h6 {
    color: $lght-1;
    font-size: 1.2rem;
    margin-right: 0.3rem;
  }

  .wheel {
    position: absolute;
    left: 50%;
    top: -150%;
    transform: translateX(-50%) scale(50%);
  }

  .bubble {
    position: absolute;
    top: -3.5rem;
    right: 1.5rem;
    background: $drk-4;
    color: $lght-4;
    padding: 0.25rem 0.75rem;
    border-radius: 5px 5px 0 5px;
    opacity: 0;
    transition: 0.25s;
    width: 15rem;
  }
}
