@import "./../../../scss/variables";

.login,
.register {
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    color: $lght-2;
    margin-top: 1.5rem;
    font-weight: $font-weight-thn;

    a {
      font-weight: $font-weight-bld;
      color: $main;
      transition: 0.15s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
