@import "./../../../scss/variables";

.center {
  align-self: center;
}

.reviews-container {
  margin: 2rem 0;

  h2 {
    font-weight: $font-weight-bld;
    font-size: 1.75rem;
    color: $lght-1;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 0.15s;

    &:hover {
      opacity: 0.8;
    }
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .reviews-container ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .reviews-container ul {
    grid-template-columns: 1fr;
  }
}
