@import "./../../../scss/variables";

.search-box {
  position: relative;

  input {
    padding-left: 2rem;
  }

  i {
    color: $lght-4;
    font-size: 1.05rem;
    position: absolute;
    left: 0.5rem;
    right: initial;
    top: 50%;
    transform: translateY(-50%);

    &:last-of-type {
      left: initial;
      right: 0.75rem;
      font-size: 1.5rem;
      cursor: pointer;
      transition: 0.1s;

      &:hover {
        transform: translateY(-50%) scale(115%);
      }
    }
  }
}
