$lght-1: #fff;
$lght-2: #d2d2d2;
$lght-3: #b3b3b3;
$lght-4: #777777;
$lght-5: #444;

$drk-1: #050505;
$drk-2: #141414;
$drk-3: #202020;
$drk-4: #242424;
$drk-5: #2f2f2f;

$main: #e50914;
$positive: #46d369;
$negative: #ff3e3e;

$font-family: "Poppins", sans-serif;
$font-weight-nrml: 500;
$font-weight-bld: 600;
$font-weight-thn: 300;

$header-height: 4rem;
